# Build artifacts
dist/

# Logs
*.log
npm-debug.log*

# Dependency management
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/

# Coverage reports
coverage/
.nyc_output
