.git/
.idea/
coverage/
node_modules/
tests/
.browserslistrc
.eslintrc
.gitignore
.npmignore
.nycrc
.travis.yml
babel.config.js
karma.conf.js
karma.sauce.coverage.js
karma.sauce.test.js
rollup.config.js
yarn.lock
